<a href="https://colab.research.google.com/github/ambuj501/CPP-Code-of-Simple-Forecasting-Methods/blob/master/pearson_Correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

In [9]:
x = [1,2,3,4,5,6,7,8,9]
y = [1,3,3,5,6,3,2,2,5]
#both lenth shpuld be equal
print(len(x))
print(len(y))

9
9

In [10]:
df = pd.DataFrame({'x':x,'y':y})

In [11]:
df.corr(method='pearson')
# method may be ‘pearson’, ‘kendall’, ‘spearman'

          x         y
x  1.000000  0.247717
y  0.247717  1.000000

In [5]:
#here ans (r =  0.2477)

We can also add custom method to find Correlation

In [12]:

def histogram_intersection(a, b):
    v = np.minimum(a, b).sum().round(decimals=1)
    return v

In [13]:
df.corr(method=histogram_intersection)

      x     y
x   1.0  27.0
y  27.0   1.0